.baner-section {
    height: calc(100vh - 57px);
    background-image: url($home_top_background_image_url);
    padding: 0 25px 60px 25px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
}
.who_we_are {
    padding-bottom: 120px;
    padding-top: 130px;
    background: url($page_background_image_url) no-repeat right 28%;
	background-size: 704px;
}
@media screen and (max-width: 991px){
    .who_we_are {background: url("../assets/img/map_img_mob.jpg") no-repeat right 20%;}
}